<div class='page-header'>
  <h1>ETS Dispatch Center</h1>
</div>
<a href="/calls/new">New Call</a>
<br/>
<hr/>
<br/>
<div class="panel panel-default">
  <div class="panel-heading">Active Calls</div>
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Pickup</th>
      <th>Dropoff</th>
      <th>Phone</th>
      <th>Price</th>
    </thead>
    <tbody>
      <% @calls.each do |call| %>
        <tr>
          <td><%= call.id %></td>
          <td><%= call.pickup %></td>
          <td><%= call.dropoff %></td>
          <td><%= call.phone %></td>
          <td><%= call.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br/>
<hr/>
<br/>
<section id='dispatch-footer'>
  <a href="/auth/logout">Logout</a>
</section>
